@import url('./utility/Utility.css');
@import url('./utility/Btns.css');
:root{
    background-color: lightsteelblue;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.container{
    width: 80%;
    min-height: 600px;
    margin: 0 auto;
    border: 1px solid black;
}

.ms_header{
    background-color: whitesmoke;
    border: 3px solid saddlebrown;
}

.ms_link{
    text-decoration: none;
    color: inherit;
}

.ms_link:hover{
    text-decoration: underline;
    transition: 0.7s;
}